<form class="needs-validation" id="config-form" method="post" action="/config-site/{{ id }}">

    <div class="row">
        
        <div class="col-md-12 order-md-2 mb-4">
            <h4 class="mb-3">Config Form</h4>

            <div class="text-right">
                <i class="fa fa-plus-square fa-2x"  title="Click to Add More"></i>
            </div>
        
            <hr class="mb-3">

            <table id="dataTable" width="100%" border="0">
                <tbody class="table-body">
                    <tr class="table-row">
                    <td width="200">
                        <select onchange="grab(this)" name="populated_List[]" class="form-control popList" required id="popList">
                            <option value="">Select Type</option>
                            <option value="button">button</option>
                            <option value="text">text</option>
                            <option value="image">image</option>
                            <option value="video">video</option>
                            <option value="feedback">feedback</option>
                            <option value="grid">grid</option>
                            <option value="order">order</option>
                        </select>
                    </td>
                    <td width="250"><input type="text" name="Reqq[]" class="form-control" placeholder="Req"/></td>
                    <td width="250"><textarea type="text" name="Response[]" class="form-control response" placeholder="Response" id="output" /></textarea></td>
                    
                </tr>
                </tbody>
                
            </table>         
            
        </div>

    </div>

    <div class="col-sm-2">
        <button class="btn btn-primary btn-md btn-block" type="submit">Submit</button>
    </div>
</form>

<br/>
<hr class="mb-4">


<h4 class="mb-3">Config Records</h4>

{{#if config_list}}
<table class="table borderless">
  <thead>
    <tr>
        <th><span>Type</span></th>
        <th><span>Req</span></th>
        <th class=""><span>Response</span></th>
        <th><span>Action</span></th>
    </tr>
  </thead>
  
  <tbody>
      
      {{#each config_list }}
        {{#each this }}

            {{#if req}}
                <tr>
                    <td> {{ rtype }} </td>
                    <td> {{ req }} </td>
                    <td class="">{{ response }} </td>
                    <td> <a href="/edit-config/{{ _id }}"> <i class="fa fa-edit"></i> </a> </td>
                </tr>
            {{/if}}
            
            {{/each}}
        {{/each}}
        
  </tbody>
                         
</table>
{{else}}
    <p>No record at the moment. You can use the form above to create one.</p>
{{/if}}

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script>

    $('.fa-plus-square').on('click', function(){
        let tbl = document.getElementById('dataTable');
        let tb = $('#dataTable').find('tr:last')
        //$(tb).find('.response').val("");
        let trLast=tb.clone(true, true);
        $(trLast).find('.response').val("");
       // let trNew=trLast.clone()
        trLast.appendTo('tbody');
        //let rowC = tbl.rows.clone(true, true);
        //rowC.appendTo('.table-row')
      //  table.appendTo('.table-row');
       // console.log(table);
    })

    function grab(event){
        let x=$(event).val()
        let resp = $(event).closest('tr').find('.response');
        alert($(resp).val());
        if(x != ""){
            let fd= new FormData();
            fd.append('uid', x)
            let url = window.location.origin + "/fetch-response/" + x
            fetch(url ,{
                method : 'GET',
                headers : {
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                },
            }).then(res=> res.json()).then(res=>{
                if(res.statusCode == 200){
                    let data = JSON.parse(JSON.stringify(res.message));
                    resp.val(data);
                    console.log(data)
                }
            }).catch(err=>{
                console.log(err)
            })
        }
    }
    function addRow (tblID) {
        
        var table = document.getElementById(tblID);

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var colCount = table.rows[0].cells.length;

        for(var i=0; i<colCount; i++) {

            var newcell	= row.insertCell(i);

            newcell.innerHTML = table.rows[0].cells[i].innerHTML;
            //alert(newcell.childNodes);
            switch(newcell.childNodes[0].type) {
                case "text":
                        newcell.childNodes[0].value = "";
                        break;
                case "checkbox":
                        newcell.childNodes[0].checked = false;
                        break;
                case "select-one":
                        newcell.childNodes[0].selectedIndex = 0;
                        break;
            }
        }

    }

    $('').on('change', function(){
        let x = $(this).val()
        
        if(x != ""){
            let fd= new FormData();
            fd.append('uid', x)
            let url = window.location.origin + "/fetch-response/" + x
            fetch(url ,{
                method : 'GET',
                headers : {
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                },
            }).then(res=> res.json()).then(res=>{
                if(res.statusCode == 200){
                    let data = JSON.parse(JSON.stringify(res.message));

                    console.log(data)
                }
            }).catch(err=>{
                console.log(err)
            })
        }
    })
</script>